
Water/Library/

Water/Temp/
.vs
/Water/Water.sln
/Water/Assembly-CSharp.csproj
/Water/Class1.cs
/Water/PsdPlugin.csproj
/Water/Unity.2D.Animation.Editor.csproj
/Water/Unity.2D.Animation.Runtime.csproj
/Water/Unity.2D.Animation.Triangle.Runtime.csproj
/Water/Unity.2D.Common.Editor.csproj
/Water/Unity.2D.Common.Runtime.csproj
/Water/Unity.2D.Path.Editor.csproj
/Water/Unity.2D.PixelPerfect.csproj
/Water/Unity.2D.PixelPerfect.Editor.csproj
/Water/Unity.2D.Psdimporter.Editor.csproj
/Water/Unity.2D.SpriteShape.Editor.csproj
/Water/Unity.2D.SpriteShape.Runtime.csproj
/Water/Unity.CollabProxy.Editor.csproj
/Water/Unity.InternalAPIEditorBridge.001.csproj
/Water/Unity.InternalAPIEngineBridge.001.csproj
/Water/Unity.Mathematics.csproj
/Water/Unity.Mathematics.Editor.csproj
/Water/Unity.RenderPipeline.Universal.ShaderLibrary.csproj
/Water/Unity.RenderPipelines.Core.Editor.csproj
/Water/Unity.RenderPipelines.Core.Runtime.csproj
/Water/Unity.RenderPipelines.Core.ShaderLibrary.csproj
/Water/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
/Water/Unity.RenderPipelines.Universal.Editor.csproj
/Water/Unity.RenderPipelines.Universal.Runtime.csproj
/Water/Unity.RenderPipelines.Universal.Shaders.csproj
/Water/Unity.Rider.Editor.csproj
/Water/Unity.ShaderGraph.Editor.csproj
/Water/Unity.ShaderGraph.Utilities.csproj
/Water/Unity.TextMeshPro.csproj
/Water/Unity.TextMeshPro.Editor.csproj
/Water/Unity.Timeline.csproj
/Water/Unity.Timeline.Editor.csproj
/Water/Unity.VSCode.Editor.csproj
/Water/UnityEditor.TestRunner.csproj
/Water/UnityEngine.TestRunner.csproj
/Water/Water.sln
/Water/*.csproj
/Water/*.sln
/Water/*.cs
obj

Builds/
